<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        Twilio SMS Integration
      </a>
    </div>
  </div>
</nav>



<div class="container-fluid">
  <div class="row">
    <div class="col-lg-2 col-md-2"></div>
    <div class="col-lg-8 col-md-8 col-sm-12">
      <div class="alert" *ngIf="showAlert" [ngClass]="{'alert-success':isSuccess,'alert-danger':!isSuccess}">
        {{isSuccess?'Message sent successfully':'Message sending failed'}}
      </div>
    </div>
    <div class="col-lg-2 col-md-2"></div>
  </div>
  <div class="row">
    <div class="col-lg-2 col-md-2">

    </div>
    <div class="col-lg-4 col-md-4 col-sm-6">
      <div class="panel panel-default">
        <div class="panel-heading">Twilio Account Info</div>
        <div class="panel-body">
          <span id="basic-addon1">Account SID</span>
          <input type="text" [(ngModel)]="sendObject.accountSid" class="form-control" placeholder="sid" aria-describedby="basic-addon1">
          <br>
          <span id="basic-addon1">Auth Token</span>
          <input type="text" [(ngModel)]="sendObject.authToken" class="form-control" placeholder="auth token" aria-describedby="basic-addon1">
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-6">
      <div class="panel panel-default">
        <div class="panel-heading">Send SMS</div>
        <div class="panel-body">
          <span id="basic-addon1">From</span>
          <input type="text" [(ngModel)]="sendObject.from" class="form-control" placeholder="phone number" aria-describedby="basic-addon1">
          <br>
          <span id="basic-addon1">To</span>
          <input type="text" [(ngModel)]="sendObject.to" class="form-control" placeholder="phone number" aria-describedby="basic-addon1">
          <br>
          <span>Message</span>
          <textarea [(ngModel)]="sendObject.message" placeholder="message" class="form-control"></textarea>
          <br>
          <button [disabled]="!isValid() || sending" style="width: 100%" (click)="send()" class="btn btn-primary">{{sending?'sending...':'send'}}</button>
        </div>
      </div>
    </div>
    <div class="col-lg-2 col-md-2"></div>
  </div>

  <div *ngIf="sending" class="spinner">
    <div class="bounce1"></div>
    <div class="bounce2"></div>
    <div class="bounce3"></div>
  </div>
  <hr/>
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-6 col-md-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            Sent Messages ({{sentSms.length}})
            <span (click)="refreshMessages()" class="glyphicon glyphicon-refresh refresh" aria-hidden="true"></span>
          </div>
          <div class="panel-body">
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>From</th>
                    <th>To</th>
                    <th>Message</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let message of sentSms;let i=index">
                    <td>{{i+1}}</td>
                    <td>{{message.sender}}</td>
                    <td>{{message.receiver}}</td>
                    <td>{{message.message}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>

      </div>

      <div class="col-lg-6 col-md-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            Received Messages ({{receivedSms.length}})
            <span (click)="refreshMessages()" class="glyphicon glyphicon-refresh refresh" aria-hidden="true"></span>
          </div>
          <div class="panel-body">
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>From</th>
                    <th>To</th>
                    <th>Message</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let message of receivedSms;let i=index">
                    <td>{{i+1}}</td>
                    <td>{{message.sender}}</td>
                    <td>{{message.receiver}}</td>
                    <td>{{message.message}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>